absl-py==2.1.0
ai4ts==0.0.3
appdirs==1.4.4
astunparse==1.6.3
atomicwrites==1.4.0
community==1.0.0b1
einops==0.8.0
flatbuffers==24.3.25
gast==0.6.0
google-pasta==0.2.0
grpcio==1.67.1
h5io==0.2.4
igraph==0.11.8
infomap==2.8.0
jsonpointer==2.1
keras==3.6.0
keras-tcn==3.1.2
libclang==18.1.1
matplotlib==3.9.2
ml-dtypes==0.4.1
namex==0.0.8
opt_einsum==3.4.0
optree==0.13.0
pooch==1.8.2
protobuf==4.25.3
pyasn1-modules==0.2.8
PyGObject==3.48.2
pygrinder==0.6.4
pyls-spyder==0.4.0
safetensors==0.4.5
sentence-transformers==3.3.0
sentencepiece==0.2.0
setuptools==75.1.0
sympy==1.13.1
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
termcolor==2.5.0
texttable==1.7.0
tf_keras==2.18.0
tokenizers==0.20.3
torch==2.5.1
transformers==4.46.2
tsdb==0.6.2
wheel==0.44.0
